name: CI

on: [push, pull_request]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: foundry-rs/foundry-toolchain@v1

      - run: forge install
      - run: forge build --sizes
      - run: forge test -vvv

  slither:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: foundry-rs/foundry-toolchain@v1
      - run: forge install

      - uses: crytic/slither-action@v0.4.0
        with:
          fail-on: high
          slither-args: --exclude-dependencies
